# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Editores / IDE
# ==============================
.vscode/
.idea/
*.swp
*.swo
*~

# ==============================
# Archivos temporales
# ==============================
*.tmp
*.temp
*.bak
*.backup
*.old

# ==============================
# Logs locales
# ==============================
*.log

# ==============================
# Variables y secretos
# ==============================
.env
.env.*
*.env

# Credenciales / claves
*.key
*.pem
*.p12
*.pfx

# ==============================
# Ansible
# ==============================
*.retry

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
.venv/
venv/

# ==============================
# Terraform
# ==============================
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ==============================
# Archivos comprimidos / backups
# ==============================
*.tar
*.tar.gz
*.tgz
*.zip
*.7z
